{% extends 'components/layout.html.twig' %} {% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Konfiguration bearbeiten</h1>
      </div>
    </div>
    {% if session.error %}
    <div class="alert alert-danger mt-5">
      {{ session.error }}
    </div>
    {% endif %}
  </div>
</div>

<section
  id="edit"
  class="content mt-5"
  x-data="configManager({ id: {{ configFile.getId() }}, fields: [] })">
  <div class="container-fluid">
    <form action="/config-files/edit/{{ configFile.getId() }}" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          value="{{ configFile.getName() }}"
          required />
      </div>

      <div class="form-group">
        <label for="marge">Marge</label>
        <input
          type="number"
          id="marge"
          name="marge"
          class="form-control"
          value="{{ configFile.getMarge() }}"
          required />
      </div>

      <div class="form-group">
        <label for="prefix">SKU Prefix</label>
        <input
          type="text"
          id="prefix"
          name="prefix"
          class="form-control"
          value="{{ configFile.getPrefix() }}"
          placeholder="preorder-" />
      </div>

      <div class="form-group mt-4">
        <h3>Felder</h3>
        <template x-for="(field, key) in fields" :key="key">
          <div class="field-group row mb-3">
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                x-bind:value="key"
                :name="'fields[' + key + '][name]'" />
            </div>
            <div class="col-2">
              <select
                class="form-select"
                x-model="field.type"
                :name="'fields[' + key + '][type]'">
                <option value="default" :selected="field.type === 'default'">
                  Standardwert
                </option>
                <option value="csv" :selected="field.type === 'csv'">
                  CSV Feld
                </option>
              </select>
            </div>
            <div class="col-2">
              <input
                type="text"
                :name="'fields[' + key + '][default]'"
                class="form-control"
                placeholder="Standardwert"
                x-show="field.type === 'default'"
                x-bind:value="field.default" />
              <select
                class="form-select"
                :name="'fields[' + key + '][csvField]'"
                class="form-control"
                x-show="field.type === 'csv'"
                :required="field.type === 'csv'"
                x-bind:value="field.csv">
                <template x-for="header in csvHeaders" :key="header">
                  <option :value="header" x-text="header"></option>
                </template>
              </select>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-danger"
                @click="removeField(key)">
                Löschen
              </button>
            </div>
          </div>
        </template>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-secondary" @click="addField">
          Neues Feld hinzufügen
        </button>
      </div>

      <button type="submit" class="btn btn-primary">Speichern</button>
      <a href="/config-files" class="btn btn-secondary">Abbrechen</a>
    </form>
  </div>
</section>

<script>
  function configManager(initialData) {
    return {
      fields: [],
      mandatoryFields: [],
      csvHeaders: [],
      id: initialData.id,
      init() {
        fetch(`/config-files/fields/${this.id}`)
          .then((response) => response.json())
          .then((data) => {
            this.extractProperties(data);
            this.fields = data;
            //console.log(this.fields);
            for (const [key, value] of Object.entries(this.fields)) {
              // Push the CSV field to csvHeaders array
              if (value["type"] === "csv") {
                console.log(value["type"]);
                this.csvHeaders.push(value["csv"]);
              }
            }

            this.$nextTick(() => {
              this.assignCsvHeadersToFields();
            });
          })
          .catch(() => {
            alert("Fehler beim Laden der Felder.");
          });
        fetch(`/config-files/fields`)
          .then((response) => response.json())
          .then((data) => {
            this.mandatoryFields = data;
          })
          .catch(() => {
            alert("Fehler beim Laden der Felder.");
          });
      },
      extractProperties(data) {
        //console.log(data.properties);
        if (data.properties) {
          for (const propName in data.properties) {
            if (data.properties.hasOwnProperty(propName)) {
              const prop = data.properties[propName];
              //console.log(propName);
              if (propName) {
                data[propName] = prop;
              }
            }
          }

          delete data.properties;
        }
        //console.log(data);
      },
      assignCsvHeadersToFields() {
        //this.csvHeaders = []; // Clear previous csv headers
        let index = 0;

        // Iterate over the fields and assign csv headers
        for (const [key, value] of Object.entries(this.fields)) {
          // Push the CSV field to csvHeaders array
          //this.csvHeaders.push(value["csv"]);

          // Use $nextTick to ensure that the DOM is fully updated before we query the select element
          this.$nextTick(() => {
            const selectElement = document.querySelector(
              `select[name='fields[${key}][csvField]']`
            );

            if (selectElement) {
              selectElement.value = this.csvHeaders[index];
              // console.log(selectElement.options.length);
              // console.log("IADI" + this.csvHeaders[index]);
              // console.log("Assigned value to select:", selectElement);
              // console.log("value:", selectElement.value);
            } else {
              console.log(`Select element for field '${key}' not found.`);
            }

            index++;
          });
        }
      },
      addField() {
        const newFieldName = `Field ${Object.keys(this.fields).length + 1}`;
        this.fields[newFieldName] = {
          type: "default",
          csv: null,
          default: "",
        };
      },
      removeField(fieldName) {
        delete this.fields[fieldName];
      },
    };
  }
</script>
{% endblock %}
