{% extends 'components/layout.html.twig' %} {% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Datei bearbeiten</h1>
      </div>
    </div>
    {% if session.error %}
    <div class="alert alert-danger mt-5">
      {{ session.error }}
    </div>
    {% endif %}
  </div>
</div>

<section
  id="edit"
  class="content mt-5">
  <div class="container-fluid">
    <form action="/files/edit/{{ file.getId() }}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="filename">Filename</label>
        <input
          type="text"
          id="filename"
          name="filename"
          class="form-control"
          value="{{ file.getFilename() }}"
          readonly />
      </div>

      <div class="form-group">
        <label for="path">Path</label>
        <input
          type="text"
          id="path"
          name="path"
          class="form-control"
          value="{{ file.getPath() }}"
          readonly />
      </div>

      <div class="form-group">
        <label for="file">Datei ersetzen</label>
        <input
          type="file"
          id="file"
          name="file"
          class="form-control"
          accept="*/*"
        />
      </div>

      <div x-data="importTypeSelect()" class="form-group">
        <label for="import_type">Import Type</label>
        <select name="import_type" id="import_type" class="form-select" x-model="selectedImportType">
          <template x-for="import_type in importTypeArray" :key="import_type.key">
            <option
              :value="import_type.key"
              x-text="import_type.label"
              x-bind:selected="selectedImportType == import_type.key"
            ></option>
          </template>
        </select>
      </div>

      <div class="form-group">
        <label for="marge">Marge</label>
        <input
          type="number"
          id="marge"
          name="marge"
          class="form-control"
          value="{{ file.getMarge() }}"
          aria-describedby="margeHelp"
          required />
        <div id="margeHelp" class="form-text">Aufschlag in Prozent. z.B.: 10</div>
      </div>

      <div class="form-group">
        <label for="exchange_rate">Wechselkurs</label>
        <input
          type="number"
          id="exchange_rate"
          name="exchange_rate"
          class="form-control"
          value="{{ file.getExchangeRate() }}"
          aria-describedby="exchange_rateHelp"
          required />
        <div id="exchange_rateHelp" class="form-text">Euro-Kurs. Zum Beispiel: Wenn 1 Euro 100 Rubel kostet, dann gib 100 an.</div>
      </div>

      <div class="form-group">
        <label for="prefix">SKU Prefix</label>
        <input
          type="text"
          id="prefix"
          name="prefix"
          class="form-control"
          value="{{ file.getPrefix() }}"
          aria-describedby="prefixHelp"
          placeholder="preorder-" />
        <div id="prefixHelp" class="form-text">Prefix für die Artikelnummer. z.B. kann es für Vorbestellungen genutzt werden. Ohne Minuszeichen (-) eingeben.</div>
      </div>

      <div x-data="configSelect()" class="form-group">
        <label for="config">Config</label>
        <select name="config" id="config" class="form-select" x-model="selectedConfig">
          <template x-for="config in configs" :key="config.id">
            <option
              :value="config.id"
              x-text="config.name"
              x-bind:selected="selectedConfig == config.id"
            ></option>
          </template>
        </select>
      </div>

      <div x-data="statusSelect()" class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status" class="form-select" x-model="selectedStatus">
          <template x-for="status in statusArray" :key="status.key">
            <option
              :value="status.key"
              x-text="status.label"
              x-bind:selected="selectedStatus == status.key"
            ></option>
          </template>
        </select>
      </div>

      <hr class="mt-4 mb-3" />

      <h4>Vorberstellung</h4>

      <div x-data="preorderStatusSelect()" class="form-group">
        <label for="preorder-status">Status</label>
        <select name="preorder-status" id="preorder-status" class="form-select" x-model="selectedPreorderStatus">
          <template x-for="preorderStatus in preorderStatusArray" :key="preorderStatus.key">
            <option
              :value="preorderStatus.key"
              x-text="preorderStatus.label"
              x-bind:selected="selectedPreorderStatus == preorderStatus.key"
            ></option>
          </template>
        </select>
      </div>

      <div class="form-group">
        <label for="preorder-deadline">Deadline</label>
        <input
          type="datetime-local"
          id="preorder-deadline"
          class="form-control"
          name="preorder-deadline"
          value="{{ file.getPreorderDeadline() is not null ? file.getPreorderDeadline()|date('Y-m-d\\TH:i') : '' }}"
        />
      </div>

      <div class="form-group">
        <label for="preorder-delivery">Lieferung</label>
        <input
          type="date"
          id="preorder-delivery"
          class="form-control"
          name="preorder-delivery"
          value="{{ file.getPreorderDelivery() is not null ? file.getPreorderDelivery()|date('Y-m-d') : '' }}"
        />
      </div>

      <div x-data="preorderStateSelect()" class="form-group">
        <label for="preorder-state">State</label>
        <select name="preorder-state" id="preorder-state" class="form-select" x-model="selectedPreorderState">
          <template x-for="preorderState in preorderStateArray" :key="preorderState.key">
            <option
              :value="preorderState.key"
              x-text="preorderState.label"
              x-bind:selected="selectedPreorderState == preorderState.key"
            ></option>
          </template>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Speichern</button>
      <a href="/" class="btn btn-secondary">Abbrechen</a>
    </form>
  </div>
</section>
<section class="content mt-5">
  <div class="container-fluid pb-5">
    <div class="headline">
      <h3>Imports</h3>
    </div>
    <div class="data">
      {% for item in imports %}
        <div class="item">
          <a href="/log/{{ item.getId()}}">{{ item.getLogFile() }}</a>
        </div>
      {% endfor%}
    </div>
  </div>
</section>
<script>
  function configSelect() {
    return {
      configs: [],
      selectedConfig: {{ file.getConfig().getId() | json_encode | raw }},
      async init() {
        try {
          const response = await fetch('/config-files/all');
          if (!response.ok) throw new Error("Ошибка загрузки конфигураций");
          this.configs = await response.json();
        } catch (error) {
          console.error(error);
        }
      }
    };
  }

  function statusSelect() {
    return {
      statusArray: [
        { key: 'idle', label: 'Neu - muss bearbeitet werden' },
        { key: 'pending', label: 'In Vorbereitung – wird demnächst importiert.' },
        { key: 'imported', label: 'Importiert – Erfolgreich bearbeitet und importiert.' },
        { key: 'error', label: 'Fehlgeschlagen – Fehler beim Import aufgetreten.' }
      ],
      selectedStatus: {{ file.getStatus() | json_encode | raw }}
    };
  }

  function importTypeSelect() {
    return {
      importTypeArray: [
        { key: 'create_update', label: 'Importieren / Aktualisieren' },
        { key: 'disable', label: 'Deaktivieren' },
        { key: 'remove', label: 'Löschen' },
      ],
      selectedImportType: {{ file.getImportType() | json_encode | raw }}
    };
  }

  function preorderStatusSelect() {
    return {
      preorderStatusArray: [
        { key: 0, label: 'Deaktiviert' },
        { key: 1, label: 'Aktiviert' },
      ],
      selectedPreorderStatus: {{ file.getPreorder() | json_encode | raw }}
    };
  }

  function preorderStateSelect() {
    return {
      preorderStateArray: [
        { key: 'open', label: 'Open' },
        { key: 'closed', label: 'Closed' },
        { key: 'sent_to_publisher', label: 'Sent to Publisher' },
        { key: 'awaiting_delivery', label: 'Awaiting Delivery' },
        { key: 'delivered', label: 'Delivered' },
      ],
      selectedPreorderState: {{ file.getPreorderState() | json_encode | raw }}
    };
  }
</script>
{% endblock %}
